image: ubuntu:16.04

pipelines:
  default:
    - step:
        script:
          - apt-get update
          - apt-get install -y
              git python3-minimal python3-pip python3-setuptools python3-wheel
              --no-install-recommends
          - pip3 install flake8 pytest
          - pip3 install .
          - python3 -m flake8
          - DATA_REPO_GIT="" python3 -m pytest -v test/
